<html ></a>
    <head>
        
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.min.js"></script>
         <script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
          <script type="text/javascript" src="../api.js"></script>
          <script type="text/javascript" src="../server.js"></script>
          <script type="text/javascript" src="controller.js"></script>
        
        
    </head>
    <body ng-app="myApp">
        <div  align="center">
        <div style=" border-radius: 25px;
    border: 2px solid #008CBA;
    width: 800px;
     ">
        <script type="text/javascript" >
     function logout(){
          sessionStorage.clear();
         window.location.reload();
     }
     
     
     function Registering(){
           document.getElementById('456').innerHTML =  "<h2>Registering User</h2><hr width='80%' color='#008CBA'><form ng-submit='submitForm()'><table><tr><td>User Name:</td><td><input type='text'ng-model='user.username'/></td> </tr><tr><td>Password:</td><td> <input type='password' ng-model='user.password'/></td> </tr><tr><td>Comfirm Password:</td><td> <input type='password' ng-model='compassword'/></td> </tr><tr> <td><input type='submit' value='Registering'/></td> <td><input type='reset'  value='Reset' /></td></tr> </table></form>";
     }
                 window.onload = function(){

          var i = sessionStorage.getItem("username");
          if(i != null){
           document.getElementById('123').innerHTML = " welcome "+i;
          
           document.getElementById("456").innerHTML="";
              
          }else{
            document.getElementById("789").innerHTML="";
            document.getElementById("689").innerHTML="";
            document.getElementById("098").innerHTML="";
              document.getElementById("logoutbutton").innerHTML="";
              
          }
    
}
  
        </script>
        <h1> Single Page Application For Artcles Management</h1>
      <div id="logoutbutton"><button onClick="logout()">Logout</button></div>
       
        <div ng-controller="loginCtrl">
            <div  id="123">
            
            <h2>Login User</h2>
            <hr width="80%" color="#008CBA">
            <form ng-submit="submitForm()">
                 <table>
              <tr><td>User Name:</td> <td><input type="text" ng-model="user.id"/></td> </tr>
                 <tr><td>Password:</td><td> <input type="password" ng-model="user.pw"/></td> </tr>
                 <tr> <td><input type="submit" value="Login"/></td><td> <button  onClick="Registering()">Register Now!</button> </td> </tr>  </table>
            </form>
        </div></div>
        
        <div ng-controller="createUser">
        <div id="456">
            <h2>Registering User</h2>
            <hr width="80%" color="#008CBA">
            <form ng-submit="submitForm()">
                 <table>
              <tr><td>User Name</td> <td><input type="text"ng-model="user.username"/></td> </tr>
                 <tr><td>Password </td><td> <input type="password" ng-model="user.password"/></td> </tr>
                  <tr><td>Comfirm Password </td><td> <input type="password" ng-model="compassword"/></td> </tr>
                 <tr> <td><input type="submit" value="Registering"/></td><td><input type="reset"  value="Reset" /></td> </tr>  </table>
            </form>
            </div>
        </div>
        
      <script type="text/javascript"> 
    

</script>
      <div ng-controller="createArticle">  <div id="789">
      <form  ng-submit="submitMyForm()">
  <h2>Creating Artcles</h2>
  <hr width="80%" color="#008CBA">
          <table>
              <tr>
                  <td> Title:</td><td> <input type="text" ng-model="article.title"></td> </tr>
                   <tr> <td> Author:</td><td> <input type="text" ng-model="article.author"></td> </tr>
                    <tr> <td>Description:</td><td> <input type="text" ng-model="article.desc"></td> </tr>
                     <tr> <td>  Location:</td><td> <input type="text" ng-model="article.location"></td> </tr>
                     <tr> <td><input type="button" ng-click="reset()" value="Reset" /></td><td><input type="submit" ng-click="update(user)" value="Save" /></td><tr>
                         
                     </tr>
          </table>

  
  </form>
  <h2>You entered: </h2>
  <pre>user = {{article | json}}</pre></div>
</div>
      
      
        <h2>Articles List</h2>
          <hr width="80%" color="#008CBA"> 
                  <div   ng-controller="myCtrl" >
                 </form>
                <table>
           <tr ng-repeat="result in obj | filter:searchText">
               <td><li>{{result}}</li></td>
           </tr>
       </table> 
        </div>
        
            <div  ng-controller="searchCtrl" >
           
              <form ng-submit="submitsearForm()">
        <input type="text" ng-model="searchText"/><button>Search</button><br></form>
     
       
       <p> Title:{{result.title}}</p>
               <p>Author: {{result.author}}</p>
                <p>Description:{{result.desc}}</p>
                 <p>Location:{{result.location}}</p>
                
                  
    

      </div>
           
        <div ng-controller="editCtrl">
       
            <div id="098">
                     <h2>Modifying Acticle</h2>
                     <hr width="80%" color="#008CBA">
        <form ng-submit="submitsearForm()">
        <input type="text" ng-model="searchText"/><button>Search</button><br>
</form>  
<form ng-submit="editCtrlForm()" name="form">
         <table>
              <tr>
                  <td> Title:</td><td> <input type="text"   ng-value="editresult.title" ng-model="article.title"></td> </tr>
                   <tr> <td> Author:</td><td> <input type="text" ng-value="editresult.author" ng-model="article.author"></td> </tr>
                    <tr> <td>Description:</td><td> <input type="text" ng-value="editresult.desc" ng-model="article.desc"></td> </tr>
                     <tr> <td>  Location:</td><td> <input type="text" ng-value="editresult.location" ng-model="article.locat"></td> </tr>
                     <tr> <td><input type="button" ng-click="reset()" value="Reset" /></td><td><input type="submit" value="Save" /></td><tr>
                         
                     </tr>
          </table>
        
        </form>
     
       </div>
      
                
         
         
       
      </div>
      
                    
        
        <div ng-controller="delCtrl"><div id="689">
        <h2>Deleting Item</h2>
        <hr width="80%" color="#008CBA">
        <form ng-submit="submitdelForm()">
       
           
        <input type="text" ng-model="itemname"/> <input type="submit" value="Delete"/> </form>
        </div>
        </div>
        
           <script type="text/javascript" >
        

/* Controllers */
  var app = angular.module('myApp', []);
 //showAll controller         
app.controller('myCtrl', function($scope, $http) {
    
    $http.get("/showAll")
    .then(function(response) {
       
       
        console.log(response.data.result);
       
        $scope.obj  = response.data.result;
    }, function myError(response) {
        console.log(response.statusText);
    });
});

 //search controller  
app.controller('searchCtrl', function($scope, $http) {
     $scope.submitsearForm = function() {
    $http.get("/searchweather/"+$scope.searchText)
    .then(function(response) {
       
        $scope.result = response.data;
        console.log(response.data);
       
       
    }, function myError(response) {
        console.log(response.statusText);
    });
         
     }
});

app.controller('editCtrl', function($scope, $http) {
     $scope.submitsearForm = function() {
       $http.get("/searchweather/"+$scope.searchText)
    .then(function(response) {
       
        $scope.editresult = response.data;
        sessionStorage.setItem("id", $scope.editresult._id);
        sessionStorage.setItem("rev", $scope.editresult._rev);
        
        //var _id = $scope.editresult._id;
          //var _rev = $scope.editresult._rev;
       
       
    }, function myError(response) {
        console.log(response.statusText);
    });
         }
     $scope.editCtrlForm = function() {
         
            var data = $scope.article;
           var update = angular.toJson(data);
            var updatedata = JSON.parse(update);
           console.log(updatedata.locat);
          var data ={
               "_id":sessionStorage.getItem("id"),
               "_rev":sessionStorage.getItem("rev"),
               "title":updatedata.title,
               "author":updatedata.author,
               "desc": updatedata.desc,
               "location": updatedata.locat,
          }
          
    
var request = $http({
                    method: "put",
                    url: "/modifyweather",
                    data: data
                });
    
request.success(function(data, status, headers, config) {
				alert( "message:  Updating sucessfully with " + JSON.stringify({data: data}));
		});
		request.error(function(data, status, headers, config) {
			alert( "failure message: " + JSON.stringify({data: data}));
		});	
       }
       });



app.controller('delCtrl', function($scope, $http) {
      $scope.submitdelForm = function() {
    var data = $scope.itemname;
    var r = confirm("Warning message: Are you sure to delete" + data+"?");
    if (r == true) {
      
 $http.delete("/delweather/"+data)
    .then(function(response) {
       	alert( "message: "+data+"Deleted sucessfully !");
        $scope.obj  = response.data.result;
    }, function myError(response) {
         	alert( "message: "+data+" doesn't existed !");
        console.log(response.statusText);
    });
      
        
    } else {
       
        
    }
     
 }
    
 
});

app.controller('createArticle', ['$scope','$http',function($scope, $http) {
    $scope.data = {};
    
      // calling our submit function.
      
       $scope.submitMyForm = function() {
           var data = $scope.article;
           var jsondata = angular.toJson(data);
         console.log(jsondata);

var request = $http({
                    method: "post",
                    url: "/createweather",
                    data: jsondata
                });
    
request.success(function(data, status, headers, config) {
				alert( "message: Creating sucessfully with " + JSON.stringify({data: data}));
		});
		request.error(function(data, status, headers, config) {
			alert( "failure message: " + JSON.stringify({data: data}));
		});	
       }
        $scope.reset = function() {
        $scope.article = angular.copy($scope.data);
      };

      $scope.reset();
     

   }]);
   
   
   
   app.controller('createUser', ['$scope','$http',function($scope, $http) {
    $scope.data = {};
    
      // calling our submit function.
      
       $scope.submitForm = function() {
           var data = $scope.user;
           var jsondata = angular.toJson(data);
         console.log(jsondata);

var request = $http({
                    method: "post",
                    url: "/createUser",
                    data: jsondata
                });
    
request.success(function(data, status, headers, config) {
				alert( "message: Creating sucessfully with " + JSON.stringify({data: data}));
		});
		request.error(function(data, status, headers, config) {
			alert( "failure message: " + JSON.stringify({data: data}));
		});	
       }
        $scope.reset = function() {
        $scope.article = angular.copy($scope.data);
      };

      $scope.reset();
     

   }]);
      app.controller('loginCtrl', function($scope, $http) {
       $scope.submitForm = function() {
           var data = $scope.user.id;
          
            $http.get("/searchUser/"+data)
    .then(function(response) {
       	alert("login successful, welcome "+data);
        window.location.reload();
        console.log(response.data.result);
        $scope.session = data;
        sessionStorage.setItem("username",$scope.session);
           var i= sessionStorage.getItem("username");
           console.log(i);
       
     
        
    }, function myError(response) {
        	alert("login unsuccessfully,Please try again!");
        console.log(response.statusText);
    });
         console.log(data);
           
       }  });
         /*
            $scope.Save = function () {
                $localStorage.LocalMessage = "LocalStorage: My name is Mudassar Khan.";
                $sessionStorage.SessionMessage = "SessionStorage: My name is Mudassar Khan.";
            }
            $scope.Get = function () {
                $window.alert($localStorage.LocalMessage + "\n" + $sessionStorage.SessionMessage);
            }
              $http.get("/searchUser/"+)
    .then(function(response) {
       
       
        console.log(response.data.result);
       
        $scope.obj  = response.data.result;
    }, function myError(response) {
        console.log(response.statusText);
    });*/
            
            
      
           </script> </div></div>
    </body>
</html>